/* Animation on scroll */

@import url(aos.css);

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset END*/

/* Fonts */

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/opensansextrabold.woff2") format("woff2"), url("../fonts/opensansextrabold.woff") format("woff"), url("../fonts/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Fonts END */

/* Default */

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

body.scroll-disabled {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 36px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
}

h1,
h2.like-h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 18px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

strong {
  font-weight: 700;
}

button {
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
}

a,
.smth-more {
  display: inline-block;
  color: #f14848;
  text-decoration: underline;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
}

a:hover,
.smth-more:hover {
  text-decoration: none;
}

a:active,
.smth-more:active {
  text-decoration: none;
}

a:focus,
.smth-more:focus {
  text-decoration: none;
}

/* Default END */

/* Global */

.grid-width {
  max-width: 1210px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Global END */

/* Pages */

.home-about {
  padding: 36px 0 30px;
}

.home-about .grid-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home-about__text {
  width: 66%;
  padding-right: 10px;
}

.home-about__text--show p {
  height: auto !important;
}

.home-about__text--show p:before {
  display: none;
}

.home-about__text-more {
  color: #f14848;
  text-decoration: underline;
  cursor: pointer;
  display: none;
}

.home-about__text-more:active {
  text-decoration: none;
}

.home-about__img {
  padding-top: 16px;
  width: 34%;
  max-width: 420px;
  min-width: 402px;
  position: relative;
}

.home-about__img-inner {
  padding-top: 74%;
}

.home-about__img-1 {
  top: 18px;
  left: 62px;
}

.home-about__img-2 {
  right: 2px;
  bottom: 2px;
}

.home-about__img-3 {
  left: 29px;
  bottom: -24px;
}

.home-about__img img {
  display: block;
  position: absolute;
}

.contacts-page .contacts {
  padding-bottom: 0;
}

.contacts {
  padding-bottom: 30px;
  overflow: hidden;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts__map iframe {
  display: block;
  width: 100%;
  height: 410px;
}

.home-page {
  padding: 0;
}

.home-lid {
  color: #fff;
  text-align: center;
  padding: 82px 0 78px;
  background-color: #1f1f1f;
  background-image: url("../img/img-lead.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.home-lid h1 {
  color: #fff;
  margin-bottom: 24px;
}

.home-lid p {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 44px;
}

.services {
  overflow: hidden;
  padding-bottom: 40px;
}

.services__title {
  margin-bottom: 22px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.services__list-item {
  border-radius: 5px;
  background-color: #f0f0eb;
  margin: 0 10px;
  padding: 21px 23px;
  width: calc(25% - 20px);
}

.services__list-item img {
  display: block;
  margin-bottom: 5px;
}

.services__list-item h6 {
  color: #f14848;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services__list-item p {
  line-height: 20px;
}

.about {
  margin-bottom: 28px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about__text {
  width: 66%;
  max-width: 782px;
}

.about__list {
  width: 34%;
  max-width: 380px;
  min-width: 380px;
  padding: 25px 20px;
  background-color: #f0f0eb;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 44px;
  margin-left: 15px;
}

.about__list li + li {
  margin-top: 16px;
}

.text-section {
  padding: 20px 0;
}

.text-section .grid-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-section__text {
  width: 66%;
}

.text-section__text h3.js-accord-title {
  position: relative;
}

.text-section__text h3.js-accord-title:after {
  content: "";
  width: 8px;
  height: 6px;
  position: absolute;
  top: 15px;
  right: 10px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  background-image: url("../img/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.text-section__text.js-accord-item--active .js-accord-title {
  color: #f14848;
}

.text-section__text.js-accord-item--active .js-accord-title:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.text-section__img {
  width: 34%;
  padding: 0 10px;
}

.text-section__img img {
  display: block;
  margin: auto;
}

/* Pages END*/

/*Buttons*/

.butn {
  border: 0;
  outline: 0;
  padding: 0;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  padding: 16px 25px;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 1.4;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
  white-space: nowrap;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.butn--red {
  min-width: 220px;
  box-shadow: 0 1px 0 #a51313, inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, #dc3131 0%, #f14848 100%);
  background-image: linear-gradient(to top, #dc3131 0%, #f14848 100%);
  -webkit-transition: top .2s;
  transition: top .2s;
}

.butn--red:hover {
  background-image: -webkit-linear-gradient(bottom, #f14848 0%, #dc3131 100%);
  background-image: linear-gradient(to top, #f14848 0%, #dc3131 100%);
}

.butn--red:active {
  position: relative;
  top: 2px;
}

/*Buttons END*/

.map-wrapper {
  position: relative;
}

.map {
  height: 410px;
}

.places-list {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 77;
  width: 100%;
  max-width: 360px;
}

.places-list__item {
  background-color: #fff;
  padding: 15px 10px 13px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.places-list__item.selected {
  border-color: #f14848;
}

.places-list__item.selected .places-list__title {
  color: #f14848;
}

.places-list__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.places-list__info {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.page-header {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
}

.page-header .grid-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  padding: 7px 0;
  position: relative;
  z-index: 999;
}

.logo img,
.logo svg,
.logo a {
  display: block;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav-list__item {
  margin-left: 34px;
}

.main-nav-list__item a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 18px 0;
  position: relative;
}

.main-nav-list__item a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: #f14848;
  -webkit-transition: height .2s;
  transition: height .2s;
}

.main-nav-list__item a:hover {
  color: #f14848;
}

.main-nav-list__item a:hover:before {
  height: 2px;
}

.main-nav-list__item a.active-nav-item {
  color: #f14848;
}

.main-nav-list__item a.active-nav-item:before {
  height: 2px;
}

.main-nav-toggler {
  display: none;
  position: absolute;
  top: 22px;
  left: 22px;
}

.main-nav-toggler img {
  display: block;
}

.page-footer {
  background-color: #1f1f1f;
  padding: 10px 0;
}

.copyright {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media all and (max-width: 1024px) {
  .home-about .grid-width {
    display: block;
  }

  .home-about__text {
    width: 100%;
  }

  .home-about__img {
    width: 100%;
    max-width: none;
    min-width: auto;
    padding-top: 40px;
  }

  .home-about__img-inner {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home-about__img img {
    position: static;
  }

  .services__list-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .about {
    margin-bottom: 16px;
  }

  .about__text {
    width: 100%;
    max-width: none;
  }

  .about__list {
    display: none;
  }

  .text-section {
    padding: 16px 0;
  }

  .text-section__text {
    width: 100%;
  }

  .text-section__img {
    display: none;
  }

  .map {
    height: 544px;
  }

  .places-list {
    max-width: 260px;
  }
}

@media all and (max-width: 760px) {
  main {
    padding: 20px 0;
  }

  .grid-width {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-about {
    padding: 26px 0;
  }

  .home-about__text p {
    margin-bottom: 10px;
    overflow: hidden;
    height: 216px;
    position: relative;
  }

  .home-about__text p:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px 15px #fff;
  }

  .home-about__text-more {
    display: block;
  }

  .home-about__img {
    display: none;
  }

  .home-lid {
    padding: 72px 0 68px;
  }

  .home-lid h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  .home-lid p {
    display: none;
  }

  .services__list {
    margin: 0;
  }

  .services__list-item {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .services__list-item + .services__list-item {
    margin-top: 10px;
  }

  .text-section {
    padding: 0;
  }

  .text-section__text h3 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f0f0eb;
    border-radius: 4px;
    padding: 10px 26px 10px 10px;
  }

  .text-section__text p {
    display: none;
    margin-bottom: 18px;
  }

  .map {
    height: 250px;
  }

  .places-list {
    position: static;
    max-width: none;
  }

  .places-list__item {
    background-color: #f0f0eb;
  }

  .page-header .grid-width {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo {
    padding: 10px 0;
  }

  .logo img {
    width: 138px;
    height: auto;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #1f1f1f;
    padding: 68px 22px 20px;
    z-index: 998;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  .main-nav--open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .main-nav-list {
    display: block;
  }

  .main-nav-list__item {
    margin-left: 0;
  }

  .main-nav-list__item a {
    padding: 10px 0;
  }

  .main-nav-list__item a:before {
    display: none;
  }

  .main-nav-toggler {
    display: block;
  }
}